# PyCity Schools Analysis

- SUMMARY OF THE ANALYSIS 
The task was to aggregate the district-wide standardized test results.
to showcase trends in school performanceSUMMARY OF THE ANALYSIS 
The task was to aggregate the district-wide standardized test results.
to showcase trends in school performance.

There were 9 analysis segments.  Each segment analysis follows:
1.	District Summary
a.	There are 15 schools Bailey High School has the most students.
b.	There are 39,170 students with a total budget ot $24,649,428.00
c.	Average Math Score is 78.99% Pena High School has the highest average test scores in both reading and math
d.	Average Reading Score is 81.88%
e.	Average % Passing Math is 74.98%
f.	Average % Passing Reading is 85.81%
g.	Average Overall Passing is 65.18%  Cabrera High school has the highest overall pass r
ate (91.3%)
2.	School Summary: 
a.	There are 15 schools (7 district, 8 Charter), 
b.	There are 39,170 students with an average budget of 
c.	School with the highest per capita budget: Huang High School ($655.00 per student)
d.	School with the most students: Bailey High School (4976 students)
e.	The best average test scores for both Math & Reading are from the second smallest school Pena High School a charter school
f.	The largest school (Bailey high school) had the highest number of students pass both Math & Reading.

3.	Highest-Performing Schools (by % Overall Passing 
a.	The top 5 schools are charter schools
b.	None of the top 5 schools > 2300 students and one is < than 965 
c.	Two of the top schools have per student budgets < $585
d.	Range of average math score and average reading score is in the range: 83.06 to 84.04t
e.	Although Pena had the highest average scores it did not ha
ve the highest % Passing.
4.	Bottom Performing Schools (By % Overall Passing
a.	The bottom performing schools are all District schools 
b.	The schools are large all have > 2900 students
c.	Per student budgets are  >= $650 per student
d.	Range of average math scores and average read scor
es have range of 76.63. 81.12%
5.	Math Scores by Grade
a.	Figueroa High School lowest math score 9th grade	76.40304
b.	Huang High School lowest math score 10th grade 75.9
c.	lowest math score  11th grade: Rodriguez High School 76.4
d.	lowest math score 12th grade: Ford High School 76.18
e.	highest math score 9th grade: Holden High School	83.8
f.	highest math score	10th grade: Griffin High School 84.2
g.	highest math score 11th grade: Holden High School 85
h.	highest math score	12th grade: Pena High School 84.12
i.	the greatest increase in score from 9th to 12th was Griffin High School
j.	the greatest decrease in sc
ore from 9th to 12th was Ford High School
6.	Reading Score by Grade
a.	lowest reading score  9th grade Ford High School	80.632653
b.	lowest reading score 10th grade Rodriguez High School 80.6
c.	lowest reading score  11th grade Ford High School 80.4
d.	lowest reading score 12th grade Huang High School 80.3
e.	highest reading score 9th grade Shelton High School 84.12
f.	highest reading score	10th grade Thomas High School 84.3
g.	highest reading score 11th grade Shelton High School 84.4
h.	highest reading score	12th grade Holden High School 84.7
i.	the greatest increase in score from 9th to 12th was Holden High school
j.	the greatest dec
Both the highest increase over the 4 years and the lowest were Charter Schoolsre8se in score from 9th to 12th was Shelton High School

7.	Scores by School Spending
a.	mean      620
b.	median    628
c.	max       655. Huang High School
d.	min       578 Cabrera High School
e.	close to a normal distribution (mean ~~ median)
f.	The spending per student is inversely propo9
tional to the average scores and % passing in all categories
8.	Scores by School Size
a.	mean      2611
b.	median    2283
c.	max       4976 Bailey High School		
d.	min        427 Holden High School	
e.	skewed to larger schools (mean > media10)
f.	Small and medium size schools do better than large schools.  

9.	Scores by School Type
a.	Charter schools have better scores and % passing in all categories.

 TWO CONsLUSION:
•	Charter school’s produce better scores and % passing.
•	Charter Schools are smaller(~~ 93%) than district schools and  than District schools 
•	Charter school’s on average spend less per student are less than ½ the size of district schools yet the overall pass rate is 68% (90.4/53.7) higher.  

We can not conclude that Charter Schools are better schools to attend  without further information.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(50)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
30,30,Bobby Harris,M,9th,Huang High School,94,99,0,District,2917,1910635
31,31,Brian Fernandez,M,10th,Huang High School,97,65,0,District,2917,1910635
32,32,Candace Phelps,F,11th,Huang High School,93,90,0,District,2917,1910635
33,33,Amy Gonzalez,F,12th,Huang High School,95,68,0,District,2917,1910635
34,34,Steven Green,M,11th,Huang High School,65,74,0,District,2917,1910635
35,35,Benjamin Carlson,M,10th,Huang High School,99,61,0,District,2917,1910635
36,36,Kevin Bailey,M,10th,Huang High School,76,76,0,District,2917,1910635
37,37,Jesse Newton,M,10th,Huang High School,63,66,0,District,2917,1910635
38,38,Kimberly Mercado,F,12th,Huang High School,73,77,0,District,2917,1910635
39,39,Gregory Roberts,M,9th,Huang High School,80,61,0,District,2917,1910635
40,40,Matthew Mayer,M,9th,Huang High School,79,69,0,District,2917,1910635
41,41,Jennifer Parks,F,11th,Huang High School,85,95,0,District,2917,1910635
42,42,John Carlson,M,9th,Huang High School,65,89,0,District,2917,1910635
43,43,Megan Roberts,F,9th,Huang High School,66,90,0,District,2917,1910635
44,44,Debra Flores,F,10th,Huang High School,75,66,0,District,2917,1910635
45,45,Heidi Jackson,F,11th,Huang High School,64,93,0,District,2917,1910635
46,46,Denise Bradford,F,12th,Huang High School,73,59,0,District,2917,1910635
47,47,Ellen Brown,F,11th,Huang High School,77,81,0,District,2917,1910635
48,48,Amy Perkins,F,9th,Huang High School,76,66,0,District,2917,1910635
49,49,Natalie Mitchell,F,10th,Huang High School,73,93,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_data["school_name"].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = student_data["Student ID"].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame([
                        {"Total Schools":school_count,
                         "Total Students":student_count,
                         "Total Budget":total_budget,
                         "Average Math Score":average_math_score,	
                         "Average Reading Score":average_reading_score,	
                         "% Passing Math":passing_math_percentage,
                         "% Passing Reading":passing_reading_percentage,
                         "% Overall Passing":overall_passing_rate,
                        }
                    ])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [11]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index("school_name")["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [13]:
school_with_most_students = per_school_counts.idxmax()
most_students_count = per_school_counts.max()
print(f"School with the most students: {school_with_most_students} ({most_students_count} students)")

School with the most students: Bailey High School (4976 students)

In [14]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index("school_name")["budget"]
per_school_capita = (per_school_budget / per_school_counts)
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [15]:
# Get the school with the highest per capita budget
school_with_highest_per_capita = per_school_capita.idxmax()
highest_per_capita_budget = per_school_capita.max()
print(f"School with the highest per capita budget: {school_with_highest_per_capita} (${highest_per_capita_budget:.2f} per student)")

School with the highest per capita budget: Huang High School ($655.00 per student)

In [16]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean().sort_values(ascending=False)
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean().sort_values(ascending=False)
per_school_math

school_name
Pena High School         83.839917
Holden High School       83.803279
Wright High School       83.682222
Thomas High School       83.418349
Shelton High School      83.359455
Griffin High School      83.351499
Wilson High School       83.274201
Cabrera High School      83.061895
Hernandez High School    77.289752
Ford High School         77.102592
Johnson High School      77.072464
Bailey High School       77.048432
Rodriguez High School    76.842711
Figueroa High School     76.711767
Huang High School        76.629414
Name: math_score, dtype: float64

In [17]:
per_school_reading

school_name
Pena High School         84.044699
Wilson High School       83.989488
Cabrera High School      83.975780
Wright High School       83.955000
Thomas High School       83.848930
Griffin High School      83.816757
Holden High School       83.814988
Shelton High School      83.725724
Huang High School        81.182722
Figueroa High School     81.158020
Bailey High School       81.033963
Johnson High School      80.966394
Hernandez High School    80.934412
Ford High School         80.746258
Rodriguez High School    80.744686
Name: reading_score, dtype: float64

In [18]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]["Student ID"].count()

students_passing_math

29370

In [19]:
school_students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name").size().sort_values(ascending=False)
school_students_passing_math

school_name
Bailey High School       3318
Johnson High School      3145
Hernandez High School    3094
Rodriguez High School    2654
Wilson High School       2143
Figueroa High School     1946
Huang High School        1916
Ford High School         1871
Cabrera High School      1749
Wright High School       1680
Shelton High School      1653
Thomas High School       1525
Griffin High School      1371
Pena High School          910
Holden High School        395
dtype: int64

In [20]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]["Student ID"].count()

students_passing_reading

33610

In [21]:
school_students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name").size().sort_values(ascending=False)
school_students_passing_reading

school_name
Bailey High School       4077
Johnson High School      3867
Hernandez High School    3748
Rodriguez High School    3208
Figueroa High School     2381
Huang High School        2372
Wilson High School       2204
Ford High School         2172
Cabrera High School      1803
Wright High School       1739
Shelton High School      1688
Thomas High School       1591
Griffin High School      1426
Pena High School          923
Holden High School        411
dtype: int64

In [22]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size().sort_values(ascending=False)
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Johnson High School      2549
Hernandez High School    2481
Rodriguez High School    2119
Wilson High School       2068
Cabrera High School      1697
Wright High School       1626
Shelton High School      1583
Figueroa High School     1569
Huang High School        1561
Ford High School         1487
Thomas High School       1487
Griffin High School      1330
Pena High School          871
Holden High School        381
dtype: int64

In [23]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = (school_students_passing_math_and_reading / per_school_counts * 100)
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [24]:
# Sort the overall passing rate from highest to lowest
sorted_overall_passing_rate = overall_passing_rate.sort_values(ascending=False)
sorted_overall_passing_rate

school_name
Cabrera High School      91.334769
Thomas High School       90.948012
Griffin High School      90.599455
Wilson High School       90.582567
Pena High School         90.540541
Wright High School       90.333333
Shelton High School      89.892107
Holden High School       89.227166
Bailey High School       54.642283
Ford High School         54.289887
Johnson High School      53.539172
Hernandez High School    53.527508
Huang High School        53.513884
Figueroa High School     53.204476
Rodriguez High School    52.988247
dtype: float64

In [25]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

    
per_school_summary = pd.DataFrame({
    "School Type":school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate,
    
})
per_school_summary = per_school_summary.sort_values(by= "% Overall Passing", ascending=False)    
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
#remove header name on the index
per_school_summary.index.name = None
# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247

## Highest-Performing Schools (by % Overall Passing)

In [26]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [27]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [28]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores,
    "change from 9th to 12th": twelfth_grader_math_scores - ninth_grade_math_scores,
    "School Type":school_types,
    
     })
#Sort
math_scores_by_grade = math_scores_by_grade.sort_values(by= "change from 9th to 12th", ascending=False)    
# Minor data wrangling
math_scores_by_grade.index.name = None
# Display the DataFrame
math_scores_by_grade

,9th,10th,11th,12th,change from 9th to 12th,School Type
Griffin High School,82.044010,84.229064,83.842105,83.356164,1.312155,Charter
Rodriguez High School,76.859966,76.612500,76.395626,77.690748,0.830782,District
Figueroa High School,76.403037,76.539974,76.884344,77.151369,0.748331,District
Pena High School,83.625455,83.372000,84.328125,84.121547,0.496092,Charter
Wright High School,83.264706,84.010288,83.836782,83.644986,0.380281,Charter
Shelton High School,83.420755,82.917411,83.383495,83.778976,0.358221,Charter
Huang High School,77.027251,75.908735,76.446602,77.225641,0.198390,District
Cabrera High School,83.094697,83.154506,82.765560,83.277487,0.182790,Charter
Wilson High School,83.085578,83.724422,83.195326,83.035794,-0.049784,Charter
Thomas High School,83.590022,83.087886,83.498795,83.497041,-0.092980,Charter
Hernandez High School,77.438495,77.337408,77.136029,77.186567,-0.251928,District
Johnson High School,77.187857,76.691117,77.491653,76.863248,-0.324609,District
Bailey High School,77.083676,76.996772,77.515588,76.492218,-0.591458,District
Holden High School,83.787402,83.429825,85.000000,82.855422,-0.931980,Charter
Ford High School,77.361345,77.672316,76.918058,76.179963,-1.181382,District

## Reading Score by Grade

In [29]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
        "School Name":ninth_grade_reading_scores,
        "9th": ninth_grade_reading_scores,
        "10th": tenth_grader_reading_scores,
        "11th": eleventh_grader_reading_scores,
        "12th": twelfth_grader_reading_scores,
        "change from 9th to 12th": (twelfth_grader_reading_scores.values - ninth_grade_reading_scores.values),
        "School Type":school_types,
    })

#Sort
reading_scores_by_grade = reading_scores_by_grade.sort_values(by=  "change from 9th to 12th", ascending=False)
# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th","change from 9th to 12th","School Type" ]]
reading_scores_by_grade.index.name = None
# Display the DataFrame
reading_scores_by_grade

,9th,10th,11th,12th,change from 9th to 12th,School Type
Holden High School,83.677165,83.324561,83.815534,84.698795,1.021630,Charter
Pena High School,83.807273,83.612000,84.335938,84.591160,0.783887,Charter
Griffin High School,83.369193,83.706897,84.288089,84.013699,0.644505,Charter
Cabrera High School,83.676136,84.253219,83.788382,84.287958,0.611822,Charter
Wilson High School,83.939778,84.021452,83.764608,84.317673,0.377895,Charter
Wright High School,83.833333,83.812757,84.156322,84.073171,0.239837,Charter
Figueroa High School,81.198598,81.408912,80.640339,81.384863,0.186265,District
Thomas High School,83.728850,84.254157,83.585542,83.831361,0.102511,Charter
Ford High School,80.632653,81.262712,80.403642,80.662338,0.029685,District
Hernandez High School,80.866860,80.660147,81.396140,80.857143,-0.009717,District
Johnson High School,81.260714,80.773431,80.616027,81.227564,-0.033150,District
Bailey High School,81.303155,80.907183,80.945643,80.912451,-0.390704,District
Rodriguez High School,80.993127,80.629808,80.864811,80.376426,-0.616701,District
Huang High School,81.290284,81.512386,81.417476,80.305983,-0.984301,District
Shelton High School,84.122642,83.441964,84.373786,82.781671,-1.340970,Charter

## Scores by School Spending

In [30]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [31]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [32]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(
    school_spending_df["Per Student Budget"].replace('[\$,]'," ", regex=True).astype(float),
    bins=spending_bins,
    labels=labels
    )

In [33]:
# Sort the DataFrame by the "Spending Ranges (Per Student)" column
school_spending_df = school_spending_df.sort_values("Spending Ranges (Per Student)")

In [34]:
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680

## Calculate details about the student budget per capital

In [35]:
 #Calculate the average, mean, median, max, and min of the per student budget
# clean and convert to numeric
school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].replace('[\$,]', '', regex=True).astype(float)
budget_stats = school_spending_df["Per Student Budget"].agg(['mean', 'median', 'max', 'min'])
budget_stats

mean      620.066667
median    628.000000
max       655.000000
min       578.000000
Name: Per Student Budget, dtype: float64

In [36]:
school_spending_df.describe()

,Total Students,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,2611.333333,620.066667,80.432530,82.529188,80.987054,89.219023,73.277560
std,1420.915282,28.544368,3.374548,1.519329,13.998824,8.180664,18.992148
min,427.000000,578.000000,76.629414,80.744686,65.683922,79.299014,52.988247
25%,1698.000000,591.500000,77.060448,81.000178,66.523328,81.042716,53.533340
50%,2283.000000,628.000000,83.061895,83.725724,92.505855,95.854628,89.227166
75%,3474.000000,641.500000,83.388902,83.901965,93.629746,96.575376,90.561554
max,4976.000000,655.000000,83.839917,84.044699,94.594595,97.308869,91.334769

In [37]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["% Overall Passing"].mean()

In [38]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display the spending summary DataFrame
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [39]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [40]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], bins=size_bins, labels=labels)
#Sort
per_school_summary = per_school_summary.sort_values(by=  "School Size", ascending=True)
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)

In [41]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"], observed=False)["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"], observed=False)["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"], observed=False)["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"], observed=False)["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"], observed=False)["% Overall Passing"].mean()

## Details on total students

In [42]:
 #Calculate the average, mean, median, max, and min of the total students
budget_stats = per_school_summary["Total Students"].agg(['mean', 'median', 'max', 'min'])
budget_stats

mean      2611.333333
median    2283.000000
max       4976.000000
min        427.000000
Name: Total Students, dtype: float64

In [43]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [44]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [45]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading": average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type,
})

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208

## More Details about Student Budgets

In [46]:
# Clean and convert 'Per Student Budget' to numeric
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].replace('[\$,]', '', regex=True).astype(float)

# calculate the average number od students 

average_total_students_by_type = per_school_summary.groupby("School Type")["Total Students"].mean()
average_per_student_budget_by_type = per_school_summary.groupby("School Type")["Per Student Budget"].mean()

type_summary_2 = pd.DataFrame({
    "Average Students": average_total_students_by_type,
    "Average Per Student Budget": average_per_student_budget_by_type,
   
})
type_summary_2

             Average Students  Average Per Student Budget
School Type
Charter           1524.250000                  599.500000
District          3853.714286                  643.571429